<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment>Resolution</comment>
<entry key="height">800</entry>
<entry key="Sound">true</entry>
<entry key="Player Name">Player 1</entry>
<entry key="width">600</entry>
<entry key="Difficulty">0</entry>
<entry key="KeyControl">false</entry>
<entry key="Lives">0</entry>
</properties>
